<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Flixer &middot; @ViewData["Title"] </title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Flixer</h1>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="About">About</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <script src="~/js/script.js"></script>
</body>
</html>
