@{
    ViewData["Title"] = "Home";
}

<h2 class="slogan">Want to watch a movie tonight?</h2>

<p class="long-text">
    This is Flixer, a website all about movies. We have a lot of them, in almost all genres.
    If you want you can also add your own movies to our database. It's super easy.
</p>

<p>
    Actually it isn't really a database, it's just a JSON-file.<br />
    Anyway.. enjoy a great movie!
</p>