@model Flixer.Models.Movie

@{
    ViewData["Title"] = "Add New Movie";
}

<h2>@ViewData["Title"]</h2>
<p>Fill out the form below to add a new movie.</p>

<form asp-action="AddNew" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre" class="control-label"></label>
        <input asp-for="Genre" class="form-control" />
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate" class="control-label"></label>
        <input asp-for="ReleaseDate" class="form-control" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Watched" /> @Html.DisplayNameFor(model => model.Watched)
        </label>
    </div>
    <div class="form-group">
        <label asp-for="Score" class="control-label"></label>
        <input asp-for="Score" type="range" min="0" max="10" class="form-control" />
        <span asp-validation-for="Score" class="text-danger"></span>
    </div>
    
    <input type="submit" value="Add Movie" class="btn btn-success" />
</form>

<partial name="_BackLinkPartial" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
