@model List<Flixer.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

<h2>@ViewData["Title"]</h2>
<p>
    This page shows all of the movies.<br/>
    You can also @Html.ActionLink("Add a new movie", "AddNew") if you want.
</p>

<div class="movies">
    @foreach (var movie in Model)
    {
        <div class="movie-item">
            <p>@Html.ActionLink(movie.Title, "SingleMovie", new { id = movie.Id })</p>
        </div>
    }
</div>